/* COMMMONC CSS STARTS*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
html{
  font-size: 10px;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
ul,li{
  list-style: none;

}
a{
  text-decoration: none;
}
body{
  font-family: arial;
}
.container{
  width: 1180px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.align-cneter{
  align-items: center;
}
.justify-center
{
  justify-content: center;
}
/* COMMMONC CSS ENDS */
nav{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px 0; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #06090e, #03060d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsl(228, 22%, 5%), #1a1f29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav .menuBtn{
  border: none;
  background-color: #4b4345;
  padding: 5px 8px;
  font-size: 2.5rem;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px  2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.sidebar{
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.sidebar.active{
  opacity: 1;
  visibility: visible;
}
.sidebar.hide{
  opacity: 0;
  visibility: hidden;
}
.sidebar aside{
  width: 80%;
  padding: 150px 0;
  position: relative;
  background-color: white;
  height: 100%;
  max-width: 350px;
  text-align: center;
  transform: translateX(-100%);
  transition: 1s;
}
.sidebar.active aside{
  transform: translateX(0%);
  transition: 0.35s;
}
.sidebar aside li{
  padding: 12px 0;
  /* transition: 0.35s; */
}
.sidebar aside li:hover{
  background-color: black;
  width: 50%;
  margin: auto;
  color: white;
  border-radius: 10rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sidebar aside li a{
  font-size: 2rem;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.35s;
}
.sidebar aside li:hover a{
  color: white;
  font-size: 2.3rem;
}
.cancelBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius: 5px 15px;
  cursor: pointer;
}

.myName{
  font-size: 3rem;
  margin:72px -14px -109px 70px;
  position: absolute;
  top: 7px;
  text-align: center;
  font-family: 'Nosifer', sans-serif;
}
.myName:hover {
  color: rgba(255, 0, 0, 0.913);
}